@page "/Hinhanh/Index"
@using Blazored.Modal.Services
@using Model
@using Model.DataDB
@using Models.Page
@using Web_Admin_Client.Pages.Modal
@using Web_Admin_Client.Pages.Sanpham
@using Web_Admin_Client.Service
@inject IJSRuntime JS
@layout MainLayout
@using System.Globalization
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager;





  <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Quản lý hình ảnh</h3>
            <button class="btn btn-block btn-lg btn-gradient-primary mdi mdi-playlist-plus" @onclick="() => Open(ModalSize.Custom,ModalPosition.Custom) ">Thêm hình ảnh mới !</button>
            </div>

            <div class="row">

              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title"></h4>
                    <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Chỉnh sửa</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Hình ảnh chính</th>
                                    <th>Ảnh phụ 1</th>
                                    <th>Ảnh phụ 2</th>
                                </tr>
                             </thead>
                            <tbody>
                                    @foreach (var item in hinhAnhs)
                                    {
                                   
                                    <tr>
                                        <td>
                                            <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                            </a>
                                            <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                                                <a class="dropdown-item" >
                                                    <i class="mdi mdi-tooltip-edit me-2 text-success"></i> Chỉnh sửa
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">
                                                    <i class="mdi mdi-playlist-remove me-2 text-danger"></i> Xóa
                                                </a>
                                            </div>
                                        </td>
                                        <td> @item.TenSp </td>
                                        <td class="py-1">
                                            <img src="@urlImage/images/@item.HaBia" alt="image" />
                                        </td>
                                        <td class="py-1">
                                            <img src="@urlImage/images/@item.Ha1" alt="image" />
                                        </td>
                                        <td class="py-1">
                                            <img src="@urlImage/images/@item.Ha2" alt="image" />
                                        </td>
                                    </tr>
                                    }
                            </tbody>
                    </table>
                  </div>
                 <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"></Pagination>
                </div>
              </div>

            </div>
          </div>
          </div>

@code {
    string urlImage = "https://localhost:7268";
    private List<Images_Model> hinhAnhs = new List<Images_Model>();
    private HinhanhService hinhanhService = new HinhanhService();
    private List<Sanpham_Model> sanphams = new List<Sanpham_Model>();
    private SanphamService sanphamService = new SanphamService();
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    public MetaData MetaData { get; set; } = new MetaData();
    private PagingParameters paging = new PagingParameters();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await GetImage();

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }

    }
    private void Open(ModalSize size,ModalPosition position)
    {
        var options = new ModalOptions { Size = size, Position = position };
        if (size == ModalSize.Custom)
            options.SizeCustomClass = "my-custom-size-image";
        if (position == ModalPosition.Custom)
            options.PositionCustomClass = "my-custom-position-image";
        Modal.Show<Create>("Thêm hình ảnh mới ",options);
    }

    private async Task SelectedPage(int page)
    {
        paging.PageNumber = page;
        await GetImage();
    }
    private async Task GetImage()
    {
        var pagingResponse = await hinhanhService.GetListPageImage(paging);
        hinhAnhs = pagingResponse.Items;
        MetaData = pagingResponse.MetaData;
    }
    

}
