@page "/Cart/CheckMail"
@using Model
@using Model.DataDB
@using Model.Dto
@using Model.Pay
@using Web_Client.Pages.Taikhoan
@using Web_Client.Services
@inject ICartService CartService
@inject ISanphamService sanpham
@layout LayoutCart
@inject IJSRuntime JS
@inject IJSRuntime JSRuntime
@using System.Net.Mail
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IToastService toastService
@inject NavigationManager NavigationManager

<EditForm Model="newkhachang" style="width:400px">
    <form class="forms-sample">
        <div class="form-group">
            <label for="exampleInputUsername1">Họ và tên</label>
            <InputText class="form-control" placeholder="" @bind-Value="newkhachang.TenKh"></InputText>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Số điện thoại</label>
            <InputText class="form-control" placeholder="" @bind-Value="newkhachang.SdtKh"></InputText>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Địa chỉ</label>
            <InputText class="form-control" placeholder="" @bind-Value="newkhachang.DiachiKh"></InputText>
        </div>

    </form>

    <button type="button" class="btn btn-primary me-2" @onclick="Submit" style="margin-left:15%">Xác nhận thanh toán</button>
    <button type="button" class="btn btn-primary me-2" @onclick="Close" style="margin-left:15%">Hủy</button>
</EditForm>

@code {

    [Parameter]
    public UserIP userIP { get; set; }
    public List<CartItems> cartItems = new List<CartItems>();

    public List<Khachhang> khachhangs = new List<Khachhang>();
    Khachhang khachhang = new Khachhang();
    KhachHangDto newkhachang = new KhachHangDto();
    KhachHangService khachHangService = new KhachHangService();
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }


    DonDatDto dondatDto = new DonDatDto();
    List<DonDatDto> listDonDat = new List<DonDatDto>();
    DonDatService donDatService = new DonDatService();
    CtDonDatDto ctDonDatDto = new CtDonDatDto();
    CtDonDatService CtDonDatService = new CtDonDatService();


    GioHangDto gioHangDto = new GioHangDto();
    CTGioHangDto cTGioHangDto = new CTGioHangDto();

    GioHangService gioHangService = new GioHangService();
    CTGioHangService cTGioHangService = new CTGioHangService();

    int temp;
    private string Message { get; set; } = "";


    protected override async Task OnInitializedAsync()

    {
        try
        {
            var checkdisplay = await sessionStorage.GetItemAsync<string>("display");
            var makhachhang = await sessionStorage.GetItemAsync<string>("ma_khachhang");
            cartItems = await CartService.GetCartItems(makhachhang);
            var result = await khachHangService.GetKhachHang(makhachhang);
            newkhachang.MaKh = result.MaKh;
            newkhachang.TenKh = result.TenKh;
            newkhachang.TenTk = result.TenTk;
            newkhachang.SdtKh = result.SdtKh;
            newkhachang.DiachiKh = result.DiachiKh;
        }
        catch (Exception ex)
        {

        }
    }
    private async void Close()
    {
        await this.ModalInstance.CancelAsync();
    }

    private async void Submit()
    {
        var makhachhang = await sessionStorage.GetItemAsync<string>("ma_khachhang");
        await khachHangService.EditKhachhang(makhachhang, newkhachang);
        await this.ModalInstance.CancelAsync();
        SendMail();
        
    }
    private async void SendMail()
    {
        var name_khCreate = await sessionStorage.GetItemAsync<string>("ten_kh1");
        var name_khLogin = await sessionStorage.GetItemAsync<string>("ten_kh");
        var ma_khCreate = await sessionStorage.GetItemAsync<string>("ma_khachhangCreate");
        var ma_khLogin = await sessionStorage.GetItemAsync<string>("ma_khachhang");
        if (name_khLogin != null)
        {
            //var result = await gioHangService.GetDetail(ma_khLogin);
            khachhang = await khachHangService.GetKhachHang(ma_khLogin);
            try
            {
                using (MailMessage mail = new MailMessage())
                {
                    mail.From = new MailAddress("truongtrungtrong@outlook.com.vn");
                    mail.To.Add("truongtrungtrong@gmail.com");
                    mail.Subject = "Xác nhận đặt sản phẩm của chúng tôi !";
                    mail.Body = "Cửa hàng thời trang MultiShop - Online Shop xin chào " + khachhang.TenKh;
                    mail.Body += "<p>Chúng tôi xin phép xác nhận thông tin đặt sản phẩm của bạn <p/>";
                    mail.Body += "<p>Thời gian: " + DateTime.Now;
                    mail.Body += "<p>Giá tổng sản phẩm: " + sanpham.FormatVND(int.Parse(@cartItems.Sum(item => (item.GiaSp * item.Sl) - (item.GiaSp * item.Sl) * 0.05).ToString())) + " VND " + " trên " + cartItems.Count() + " sản phẩm " + "</p>";
                    mail.Body += "<p>Địa chỉ giao hàng: " + khachhang.DiachiKh.ToString() + "</p>";
                    mail.Body += "<p>Xin cảm ơn bạn đã mua hàng tại shop của chúng tôi !<br>Trân trọng<br>MultiShop - Online Shop</p>";
                    mail.IsBodyHtml = true;
                    using (SmtpClient smtp = new SmtpClient("smtp.office365.com", 587))
                    {
                        smtp.Credentials = new System.Net.NetworkCredential("truongtrungtrong@outlook.com.vn", "m&VqK8Vt");
                        smtp.EnableSsl = true;
                        smtp.Send(mail);
                        Message = "Mail Sent";

                    }
                }

                NavigationManager.NavigateTo("/");
                toastService.ShowSuccess("Mời bạn kiểm tra email truongtrungtrong@gmail.com ", "Thành công !");
            }
            catch (Exception ex)
            {
                throw;
                Message = ex.Message;
            }
        }
        else
        {
            //var result = await gioHangService.GetDetail(ma_khCreate);
            khachhang = await khachHangService.GetKhachHang(ma_khCreate);
            try
            {
                using (MailMessage mail = new MailMessage())
                {
                    mail.From = new MailAddress("truongtrungtrong@outlook.com.vn");
                    mail.To.Add("truongtrungtrong@gmail.com");
                    mail.Subject = "Xác nhận đặt sản phẩm của chúng tôi !";
                    mail.Body = "Cửa hàng thời trang MultiShop - Online Shop xin chào " + khachhang.TenKh;
                    mail.Body += "<p>Chúng tôi xin phép xác nhận thông tin đặt sản phẩm của bạn <p/>";
                    mail.Body += "<p>Thời gian: " + DateTime.Now;
                    mail.Body += "<p>Giá tổng sản phẩm: " + sanpham.FormatVND(int.Parse(@cartItems.Sum(item => (item.GiaSp * item.Sl) - (item.GiaSp * item.Sl) * 0.05).ToString())) + " VND " + " trên " + cartItems.Count() + " sản phẩm " + "</p>";
                    mail.Body += "<p>Địa chỉ giao hàng: " + khachhang.DiachiKh.ToString() + "</p>";
                    mail.Body += "<p>Xin cảm ơn bạn đã mua hàng tại shop của chúng tôi !<br>Trân trọng<br>MultiShop - Online Shop</p>";
                    mail.IsBodyHtml = true;

                    using (SmtpClient smtp = new SmtpClient("smtp.office365.com", 587))
                    {
                        smtp.Credentials = new System.Net.NetworkCredential("truongtrungtrong@outlook.com.vn", "m&VqK8Vt");
                        smtp.EnableSsl = true;
                        smtp.Send(mail);
                        Message = "Mail Sent";

                    }
                }
            }
            catch (Exception ex)
            {
                throw;
                Message = ex.Message;
            }
        }

    }
}
