@using Microsoft.AspNetCore.Components.Web
@namespace Web_Client.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MultiShop - Online Shop </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <!-- Libraries Stylesheet -->
    <link href="content/lib/animate/animate.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="content/css/style.css" rel="stylesheet" crossorigin="anonymous">




    <base href="~/" />
    @*<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />*@
    <link href="site.css" rel="stylesheet" crossorigin="anonymous" />
    <link href="Web_Client.styles.css" rel="stylesheet" crossorigin="anonymous"/>
@*
    <link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" /*@
    

    @*Add Blazor Toast*@
    <link href="_content/Blazored.Toast/blazored-toast.css" rel="stylesheet" crossorigin="anonymous" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head> 
<body>
    @RenderBody()
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/ffb043f184.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="content/lib/easing/easing.min.js" crossorigin="anonymous"></script>
        <script src="content/lib/owlcarousel/owl.carousel.min.js" crossorigin="anonymous"></script>

        <!-- Contact Javascript File -->
        <script src="content/mail/jqBootstrapValidation.min.js" crossorigin="anonymous"></script>
        <script src="content/mail/contact.js" crossorigin="anonymous"></script>

        <!-- Template Javascript -->
        <script src="content/js/main.js" crossorigin="anonymous"></script>
       @* <script src="_content/Blazored.Modal/blazored.modal.js"></script>*@
        <script src="_framework/blazor.server.js" crossorigin="anonymous"></script>
        @*<script lang="javascript">var __vnp = { code: 16970, key: '', secret: '6553c160615d38e3b88f049d1069b8aa' }; (function () { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.defer = true; ga.src = '//core.vchat.vn/code/tracking.js'; var s = document.getElementsByTagName('script'); s[0].parentNode.insertBefore(ga, s[0]); })();</script>*@
    </div>
    
</body>
</html>
