@page "/KhachHang/FormReview"
@using Model
@using Model.DataDB
@using Model.Dto
@using Model.Pay
@using Web_Client.Pages.Taikhoan
@using Web_Client.Services
@inject ICartService CartService
@inject ISanphamService sanphamService
@inject IJSRuntime JS
@inject IJSRuntime JSRuntime
@using System.Net.Mail
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IToastService toastService
@inject NavigationManager NavigationManager


<EditForm Model="danhgia">
    <!-- Email input -->
    <div class="form-group">
        <label class="form-label" for="noidung">Viết đánh giá của bạn</label>
        <InputTextArea type="text" @bind-Value="danhgia.DanhGia" @ref=noidung class="form-control">
        </InputTextArea>
    </div>
    <div class="form-group">
        <label class="form-label" for="star">Bình chọn chất lượng sản phẩm</label>
        <InputSelect class="form-select" placeholder="" @bind-Value="danhgia.BinhChon" @ref=binhchon>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </InputSelect>
    </div>
    <!-- Submit button -->
    <button style="width:50%;margin-inline: auto;" type="button" class="btn btn-primary btn-block mb-4" @onclick="AddReview">Hoàn thành đánh giá</button>

</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }
    string urlimage = "https://localhost:7268";

    DonDatDto dondatDto = new DonDatDto();
    List<DonDatDto> listDonDat = new List<DonDatDto>();
    DonDatService donDatService = new DonDatService();
    CtDonDatDto ctDonDatDto = new CtDonDatDto();
    List<CtddhDtoList> listCtDdh = new List<CtddhDtoList>();
    CtDonDatService CtDonDatService = new CtDonDatService();

    DanhGiaDto danhgia = new DanhGiaDto();
    DanhGiaService danhGiaService = new DanhGiaService();

    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    private string maDDH { get; set; }
    private string maSP { get; set; }
    int IDDDH;
    private InputTextArea noidung { get; set; }
    private List<int> number = new List<int>(){1,2,3,4,5};
    private InputSelect<int> binhchon { get; set; }
    private string name_khLogin;
    private string name_khCreate;
    protected override async Task OnInitializedAsync()
    {
        name_khLogin = await sessionStorage.GetItemAsync<string>("ten_kh");
        var makhachhang = await sessionStorage.GetItemAsync<string>("ma_khachhang");
        if(name_khLogin != null)
        {
            maDDH = await sessionStorage.GetItemAsync<string>("maDDH");
            maSP = await sessionStorage.GetItemAsync<string>("maSP");
            IDDDH = await sessionStorage.GetItemAsync<int>("ID");
            listCtDdh = await CtDonDatService.GetListByKh(makhachhang);
            listDonDat = await donDatService.GetListByKH(makhachhang);
        }
        else
        {
            maDDH = await sessionStorage.GetItemAsync<string>("maDDH");
            maSP = await sessionStorage.GetItemAsync<string>("maSP");
            IDDDH = await sessionStorage.GetItemAsync<int>("ID");
            name_khCreate = await sessionStorage.GetItemAsync<string>("ten_kh1");
            var ma_khCreate = await sessionStorage.GetItemAsync<string>("ma_khachhangCreate");
            listCtDdh = await CtDonDatService.GetListByKh(ma_khCreate);
            listDonDat = await donDatService.GetListByKH(ma_khCreate);
        }
    }
    private async Task AddReview()
    {
        var editDDH = await CtDonDatService.GetByDanhGia(maDDH, maSP, IDDDH);
        ctDonDatDto.MaDdh = editDDH.MaDdh;
        ctDonDatDto.MaSp = editDDH.MaSp;
        ctDonDatDto.Sl = editDDH.Sl;
        ctDonDatDto.Dg = editDDH.Dg;
        ctDonDatDto.Mau = editDDH.Mau; 
        ctDonDatDto.Size = editDDH.Size;
        ctDonDatDto.DanhGia = 1;
        ctDonDatDto.Id = editDDH.Id;
        await CtDonDatService.EditCtDDH(maDDH, maSP, IDDDH, ctDonDatDto);

        //Danh gia
        if (name_khLogin != null)
            danhgia.TenKh = name_khLogin;
        else
            danhgia.TenKh = name_khCreate;
        danhgia.DanhGia = noidung.Value;
        danhgia.NgayDanhGia = DateTime.Now;
        danhgia.BinhChon = binhchon.Value;
        danhgia.MaSp = maSP;
        await danhGiaService.CreateReview(danhgia);
        NavigationManager.NavigateTo("KhachHang/CheckOk");
        toastService.ShowSuccess("Cảm ơn bạn đã đánh giá sản phẩm", "Thành công !");
    }
}
