@page "/Sanpham/Edit/{id}"
@inject IJSRuntime JS
@using Model
@using Model.DataDB
@using Model.Dto
@using Web_Admin_Client.Service
@inject NavigationManager NavigationManager;
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<EditForm Model="sanphamdto">
    <form class="forms-sample">
        <div class="form-group">
            <label for="exampleInputUsername1">Mã sản phẩm</label>
            <InputText class="form-control" placeholder="" @bind-Value="sanphamdto.MaSp"></InputText>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Tên sản phẩm</label>
            <InputText class="form-control" placeholder="" @bind-Value="sanphamdto.TenSp"></InputText>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Giá sản phẩm</label>
            <InputNumber class="form-control" placeholder="" @bind-Value="sanphamdto.GiaSp"></InputNumber>
        </div>
        <div class="form-group">
            <label for="exampleInputConfirmPassword1">Bảo hàng</label>
            <InputNumber class="form-control" placeholder="" @bind-Value="sanphamdto.Baohanh"></InputNumber>
        </div>
        <div class="form-group">
            <label for="exampleInputConfirmPassword1">Loại sản phẩm</label>
            <InputSelect class="form-select" placeholder="" @bind-Value="sanphamdto.MaLoai">
                @foreach (var item in loaisp)
                {
                    <option value="@item.MaLoai">@item.Tenloai</option>
                }
            </InputSelect>
        </div>
        <div class="form-group">
            <label for="exampleInputConfirmPassword1">Hãng sản xuất</label>
            <InputSelect class="form-select" placeholder="" @bind-Value="sanphamdto.MaHsx">
                @foreach (var item in hsx)
                {
                    <option value="@item.MaHsx">@item.TenHsx</option>
                }
            </InputSelect>
        </div>
    </form>
    
    <button type="button" class="btn btn-gradient-primary me-2" @onclick="Submit" style="margin-left:19%">Lưu</button>
    <button type="button" class="btn btn-gradient-primary me-2" @onclick="Close" style="margin-left:19%">Đóng</button>
</EditForm>




       
@code {

 

    [Parameter]
    public string id { get; set; } 
    private SanphamEdit sanphamdto = new SanphamEdit();
    SanphamService sanphamService = new SanphamService();
    List<LoaiDto> loaisp = new List<LoaiDto>();
    LoaiSpService loaiSpService = new LoaiSpService();
    List<HangsxDto> hsx = new List<HangsxDto>();
    HsxService hsxService = new HsxService();
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    protected async override Task OnInitializedAsync()
    {
        
            var sp_id = await sessionStorage.GetItemAsync<string>("sp_id");
            var result = await sanphamService.GetProduct(sp_id);
            loaisp = await loaiSpService.GetListLoaiSp();
            hsx = await hsxService.GetListHsx();

            sanphamdto.MaSp = result.MaSp;
            sanphamdto.TenSp = result.TenSp;
            sanphamdto.Mota = result.Mota;
            sanphamdto.GiaSp = result.GiaSp;
            sanphamdto.MaHsx = result.MaHsx;
            sanphamdto.MaLoai = result.MaLoai;
            sanphamdto.Baohanh = result.Baohanh;
       
    }
    private async void Submit()
    {
        var sp_id = await sessionStorage.GetItemAsync<string>("sp_id");
        await sanphamService.EditSanpham(sp_id, sanphamdto);
        NavigationManager.NavigateTo("/Sanpham/Index",forceLoad:true);
        
    }
    private async void Close()
    {
        await this.ModalInstance.CancelAsync();
    }
}
