<!-- Footer Start -->
<div class="container-fluid bg-dark text-secondary mt-5 pt-5">

    <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-secondary">
                &copy; <a class="text-primary" href="#">Đề tài luận văn 2022</a>
                <a class="text-primary" href="https://dotnet.microsoft.com"> -- Web Blazor and Web API</a>
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="content/img/payments.png" alt="">
        </div>
    </div>
</div>
<!-- Footer End -->
@code {

}